h1 {
    font-family: serif;
}


/* .principal{
  background-color: black;
}

header {
  color: #18d26e;
}

nav {
  color: #18d26e;
} */

#page-title {
    font-family: sans-serif;
}

/* .title  {
    font-family: monospace;
} */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5em;
  }
  
  .grid > * {
    background-color: darkgray;
    color: white;
    padding: 2em;
    border-radius: 0.5em;
  }

  .grillaTabla  {
    background-color: #58abb7;


  }



  .mensaje-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }


  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }

  /* Modal Content/Box */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
  }
  
  /* The Close Button */
  .close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

#botoncierreVentana {
  position:absolute;                
  bottom:0;                        
  right:0;  
  background-color: red;                      
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}



@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {

box-sizing: border-box;

}



/* body { 
  background-color: #edeef6;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
} */

button{
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}

/* .cierre{
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
  
} */

.modal-container  {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top:  0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;


}

.modal-container.show{
  pointer-events: auto;
  opacity:  1;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  text-align: center;

}

.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  max-height: calc(100vh - 200px);
  overflow-y: auto;
} 


 .modal h1 {
  margin: 0;
}

.modal p {
  font-size: 14px;
  opacity: 0.7;
}






  /* ModalContainer */



  .modalContainer {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    
  }

  .modalContainer .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-top: 10px solid #58abb7;
    width: 60%;

    overflow-y: initial !important

  }

  /* .modalContainer .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  } */

  .modalContainer .close:hover,
  .modalContainer .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


button 
{
  position :relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 100px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #ccc;


}

#cierre
{
  background-color: black;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
  text-align: justify;
  
}


#jugarDeNuevo
{
  background-color: black;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
  text-align: justify;
  
}


#jugarDeNuevo:hover {
  background-color: lightskyblue;
  transition: all 300ms ease;
}

#cierre:hover {
  background-color: lightskyblue;
  transition: all 300ms ease;
}



.botonImagen
{
  position :fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 100px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #ccc;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


.botonImagen.after{

  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}


.botonImagen:active::after{
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.rotated {
  transform: rotate(90deg)
}

header{
  text-align: center;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

@media(max-width:650px){
  /* .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5em;
  } */
  
  .grid > * {
    background-color: darkgray;
    color: white;
    padding: 2em;
    border-radius: 0.5em;
    width: 100px;
    height: 70px;
  }

  button{
    width: 80px;
    height: 50px;
   
    top: 50%;
    left: 50%;
    line-height: 50px;
    font-size: 20px;
    text-align: center
    /* transform: translate(-50%, -50%);
    width: 160px;
    height: 100px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #ccc;
  
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s; */
  }



}
  
  